.pt-sidebar {
    display: none;
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    margin-left: 0;
}
.pt-main {
    height: 100%;
    width: 100%;
    margin-left: 0;
}
@media screen and (min-width: 993px) {
    .pt-sidebar {
        display: block;
    }
    .pt-main {
        margin-left: 200px;
    }
}
.slide-right {
    margin-left: 200px!important;
}
.slide-left {
    margin-left: 0!important;
}
.invisible {
    display: none!important;
}
.visible {
    display: block!important;
}

.pt-tb-gradient {
    background: linear-gradient(to bottom, #0099FF, #00FF99);
    background: -moz-linear-gradient(to bottom, #0099FF, #00FF99);
    background: -o-linear-gradient(to bottom, #0099FF, #00FF99);
    background: -webkit-linear-gradient(to bottom, #0099FF, #00FF99);
    color: white;
}
.pt-lr-gradient {
    background: linear-gradient(to right, #0099FF 25%, #00FF99);
    background: -moz-linear-gradient(to right, #0099FF 25%, #00FF99);
    background: -o-linear-gradient(to right, #0099FF 25%, #00FF99);
    background: -webkit-linear-gradient(to right, #0099FF 25%, #00FF99);
    color: white;
}

.pt-bar {
    height: 15px;
    /*width: 116%; wider so it scales when sidebar is collapsed */
    margin-left: -16px; /* correct for padding in container */
}

.pt-heading, .pt-heading * {
    background: -webkit-linear-gradient(#0099FF, #00FF99);
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pt-table {
    border-collapse: collapse;
    border: none;
}
.pt-table tr:not(:last-child) {
    border-bottom: 2px solid #00FF99;
}
.pt-table th, .pt-table td {
    padding: 0.5em;
}
.pt-table th:not(:last-child), .pt-table td:not(:last-child) {
    border-right: 1px solid #00FF99;
}