{% extends "layout.html" %}
{% block content %}
<h2>Enter login details...</h2>
<div class=container>
<h3> ... for WeConnect </h3>
<form id='wc_form' action={{url_for('login')}} method="post">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name">
        <label for="psk">Password:</label>
        <input id="psk" type="text" name="psk">
        <input type="submit" value="Login">
</form>
<p> {{ wc_response }}</p>
</div>
<div class=container>
<h3>...and now for Fitbit</h3>

<p>This link will redirect to the Fitbit login page for you to securely enter your information. </br>
None of your private information is seen or stored by researchers. You will be returned to this landing page once you have logged in.

<a href={{url_for('fb_login') }} > Take me to Fitbit </a>
<br /> {{ fb_response }}
</p>

<form id='start_listener_form' action={{url_for('start')}} method="get">
	<input type="submit" value="Start Experiment" />
</form>

</div>

{% endblock %}
