{% extends "admin_layout.html" %}
{% block content %}
	<table class="table table-responsive-sm pt-table-striped">
		<tr>
			<th>Username</th>
			<th>Timestamp</th>
			<th>WEconnect Progress</th>
			<th>Fitbit Step Count</th>
		</tr>
		{% for log in log_vms %}
			<tr>
				<td>{{log.username}}</td>
				<td>{{log.timestamp}}</td>
				<td>
					<svg id="{{log.id}}" width="25" height="25"></svg>
					<script>
						var gauge = loadLiquidFillGauge("{{log.id}}", "{{log.wc_progress}}");
					</script>
				</td>
				<td>{{log.fb_step_count}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}