{% extends "admin_layout.html" %}
{% block content %}
<p>
	This is the homepage.
</p>
<table class="pt-table">
	<tr>
		<th>Username</th>
		<th>Registered On</th>
		<th>WEconnect Status</th>
		<th>Fitbit Status</th>
		<th>Today's Progress</th>
		<th>This Week's Progress</th>
	</tr>
	{% for id in pt_users %}
	<tr>
		<td>{{pt_users[id].row["username"]}}</td>
		<td>{{pt_users[id].row["registered_on"]}}</td>
		<td>{{pt_users[id].wc_login_status}}</td>
		<td>{{pt_users[id].fb_login_status}}</td>
		<td>
			<svg id="daily{{id}}" width="50" height="50"></svg>
			<script>
				var gauge = loadLiquidFillGauge("daily{{id}}", "{{pt_users[id].daily_progress}}");
			</script>
		</td>
		<td>
			<svg id="weekly{{id}}" width="50" height="50"></svg>
			<script>
				var gauge = loadLiquidFillGauge("weekly{{id}}", "{{pt_users[id].weekly_progress}}");
			</script>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}