{% extends "user_layout.html" %}
{% block content %}
{% endblock%}

{% block content_wide %}
	<div class="card">
		<h2 style="text-align:center">
		Technologies for Recovery <br/>
		Study Information
		</h2>
		<p>
		<b>Why is this research being done?</b><br/>
		Technology-based health interventions such as smartphone apps or wearable activity trackers (e.g. FitBit) can help people make actionable, concrete behavior change goals. This study explores the use of such new technologies to support people in recovery who want to adopt healthy behaviors. 
		<br/>We will use our findings specifically to understand how technologies can enhance people’s ability to track and reflect on their behavior changes in recovery.
		</p>

		<p>
		<b>How do I participate?</b><br/>
		To volunteer, just email us! <i>powertoken.grouplens@gmail.com </i>
		</p>
		<p>
		<b> What will I have to do? </b><br/>
		If you are selected to participate, we will first invite you to NuWay counseling center in Minneapolis to explain the study and introduce ourselves.
		To begin, you will participate in a short interview (about 1 hour) where we ask you about your recovery goals and how you use technologies in your everyday life. 
		Then, the researchers will give you an app and two devices -- a wearable and a display-- to use at home, work, or wherever you want for 4 weeks. (We will teach you how to use them!)
		Then you go home, and we will check in with you periodically (at least once a week) to ask how things are going.
		At the end of four weeks, we will schedule another interview to ask you about your experiences using these devices and your opinions about the use of these technologies in your recovery journey.
		<br/>If you do not wish to complete a study activity, or you would like to stop participating, you may do so at any time.
		</p>
		
		<p>
		<b>What are the criteria to participate?</b><br/>	
		<ol>
		<li>You must be 18 yrs or older </li>
		<li>You must be a client in outpatient recovery (with NuWay)</li>
		<li>You must have a personal smartphone (our study uses apps)</li>
		</ol>
		</p>
		
		<p>
		<b>Is this study safe?</b><br/>
		There are no significant risks to you participating in this study. All the components of our system are familiar, off-the-shelf devices.
		We will take great care to maintain your privacy. We will not collect personal identifiers and study data will not be shared with anyone outside the research team.
		If you decide to join this study, you can choose to stop participating at any time.
		</p>
		
		<p>
		<b>Will I be compensated?</b><br/>
		Yes, we provide up to $80 for completion of the study. Alternatively, if you like the devices, you may choose to keep them as your compensation.
		</p>
		
		<p> 
		<b>Who can I talk to for more information about this?</b><br/>
		Ask a question to powertoken.grouplens@gmail.com
		</p>

		
	</div>
{% endblock %}