{% extends "user_layout.html" %}
{% block content %}
	<div class="card">
		<p>Now enter your WEconnect info. Your information will not be stored or seen by the researchers.</p>
		<form action="" method="post">
			{{form.hidden_tag()}}
			<div class="row pt-form-group">
				<div class="col-sm-4">{{form.email.label}}</div>
				<div class="col-sm-8">{{form.email(size=32)}}</div>
			</div>
			<div class="row pt-form-group">
				<div class="col-sm-4">{{form.password.label}}</div>
				<div class="col-sm-8">{{form.password(size=32)}}</div>
			</div>
			<div class="row pt-form-group">
				<div class="col-sm-4">&nbsp;</div>
				<div class="col-sm-8">{{form.submit()}}</div>
			</div>
		</form>
		{% if error %}
			<p class="warning">{{error}}</p>
		{% endif %}
	</div>
{% endblock %}
