{% extends "user_layout.html" %}
{% block content %}
	<div>
		You will be redirected to the Fitbit login page shortly...
	</div>
	<script>
		// Some values in this script are automatically populated by the Jinja
		// template engine. Do not place the script in a separate file!

		var username;
		var fbTok;
		var clientId = '228N3P';//'22CSJJ';
		var homeUrl = 'http://localhost:5000'//'https://powertoken.grouplens.org';
		var callback = homeUrl + "/user_fb_login";
		var state = "{{username}}"; // will be populated by the template engine
		var authUri = 'https://www.fitbit.com/oauth2/authorize';
		var authTokenReq = 'https://api.fitbit.com/oauth2/token';
		var authUrl = `${authUri}?response_type=token&client_id=${clientId}
				&redirect_uri=${callback}&expires_in=31536000
				&scope=activity&state=${state}`;

		// CHECK for returned code (i.e. url#code). If no hash there, then 
		// redirect to auth site.
		if (!window.location.hash) {
			window.location.replace(authUrl);
		} else {
			var fragmentQueryParameters = {};
			window.location.hash.slice(1).replace(
				new RegExp("([^?=&]+)(=([^&]*))?", "g"),
				function($0, $1, $2, $3) { fragmentQueryParameters[$1] = $3; }
			);
			fbTok = fragmentQueryParameters.access_token;
			username = fragmentQueryParameters.state;
		}

		// REDIRECT to homepage after sending token to server
		var processResponse = function(response) {
			if (!response.ok) {
				throw new Error(`Request failed: ${response}`);
			} else {
				window.location.href = `${homeUrl}/user_activities?username=${username}`;
			}
		}

		// SEND token to server
		if (fbTok) {
			fetch(callback, {
				method: 'POST', 
				mode: 'no-cors',
				body: JSON.stringify({tok: fbTok, username: username})
			})
			.then(processResponse);
		}
	</script>
{% endblock %}
