<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<title>PowerToken</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&text=PowerToken" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/ptsetup.css')}}" />
	</head>
	<body>
		<header>
			<h1 style="font-family: 'Kaushan Script', cursive">PowerToken</h1>
			<h3>Wearables for Recovery</h3>
		</header>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<div class="content-wide">
			{% block content_wide %}
			{% endblock %}
		</div>
	</body>
</html>