<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities Overview</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
    <script src="{{url_for('static', filename='js/p5/p5.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/p5/addons/p5.dom.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/p5/addons/p5.sound.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/viz_sketch.js')}}"></script>
  </head>
  <body>
  </body>
</html>
