{% extends "admin/layout.html" %}
{% block content %}
<table class="table table-responsive-sm pt-table-striped">
	<tr>
		<th>Username</th>
		<th>Timestamp</th>
        <th>Daily Progress</th>
        <th>Weekly Progress</th>
	</tr>
	{% for id in pt_logs %}
	<tr>
		<td>{{pt_logs[id].username}}</td>
        <td>{{pt_logs[id].row["timestamp"]}}</td>
        <td>{{pt_logs[id].row["daily_progress"]}}</td>
        <td>{{pt_logs[id].row["weekly_progress"]}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}