{% extends "admin/layout.html" %}
{% block content %}
<table class="pt-table">
	<tr>
		<th>Username</th>
		<th>Registered On</th>
        <th>WEconnect ID</th>
        <th>WEconnect Access Token</th>
		<th>Fitbit Access Token</th>
		<th>Goal Period</th>
	</tr>
	{% for id in pt_users %}
	<tr>
        <td>{{id}}</td>
        <td>{{pt_users[id].row["username"]}}</td>
		<td>{{pt_users[id].row["registered_on"]}}</td>
		<td>{{pt_users[id].row["wc_id"]}}</td>
        <td>{{pt_users[id].row["wc_token"]}}</td>
        <td>{{pt_users[id].row["fb_token"]}}</td>
        <td>{{pt_users[id].row["goal_period"]}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}