<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<title>PowerToken</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&text=PowerTokenAdmin" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}" />
	</head>
	<body>
		<header>
			<a href="{{url_for('home')}}">
				<h1 style="font-family: 'Kaushan Script', cursive">PowerToken <sub>Admin</sub></h1>
			</a>
			<h3>Promoting recovery through social connection</h3>
			<div class="bar"></div>
		</header>
		<nav>
			<a href="{{url_for('manage')}}">Manage</a>
			<a href="{{url_for('stats')}}">Stats</a>
			<a href="{{url_for('docs')}}">Docs</a>
		</nav>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
