{% extends "layout.html" %}
{% block content %}
<p>
	This is the manage page.
</p>
<table>
	<tr>
		<th>Username</th>
		<th>Date of registration</th>
		<th>WEconnect login status</th>
		<th>Fitbit login status</th>
	</tr>
	{% for user in pt_users %}
		<tr>
			<td>{{user.username}}</td>
			<td>{{user.registered_on}}</td>
			<td>
				{% if user.wc_id is none or user.wc_token is none %}
					Expired
				{% else %}
					Current
				{% endif %}
			</td>
			<td>
				{% if user.fb_token is none %}
					Expired
				{% else %}
					Current
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}