<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<title>PowerToken</title>
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&text=PowerTokenAdmi" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/admin.css">
	</head>
	<body>
		<header>
			<h1 style="font-family: 'Kaushan Script', cursive">PowerToken <sub>Admin</sub></h1>
			<h3>Promoting recovery through social connection</h3>
			<div class="bar"></div>
		</header>
		<nav>
			<a href="#">Stats</a>
			<a href="#">Manage</a>
			<a href="#">Docs</a>
		</nav>
		<div class="content">
			<table>
				<tr>
					<th>Username</th>
					<th>Date of registration</th>
					<th>WEconnect login status</th>
					<th>Fitbit login status</th>
				</tr>
				<tr>
					<td>Norbert</td>
					<td>01/27/2018 08:30:00</td>
					<td>Current</td>
					<td>Current</td>
				</tr>
				<tr>
					<td>DaraS</td>
					<td>01/27/2018 08:45:00</td>
					<td>Current</td>
					<td>Expired</td>
				</tr>
			</table>
		</div>
	</body>
</html>