{% extends "admin_layout.html" %}
{% block content %}
	<h3 class="mb-4 pt-lightweight">Recent Activity</h1>
	<table class="table table-responsive-sm pt-table-striped">
		<tr>
			<th>Username</th>
			<th>WEconnect Status</th>
			<th>Fitbit Status</th>
			<th>Last Check-In</th>
			<th>Today's Progress</th>
			<th>This Week's Progress</th>
		</tr>
		{% for user in user_vms %} 
			<tr>
				<td>{{user.username}}</td>
				<td>{{user.wc_status}}</td>
				<td>{{user.fb_status}}</td>
				<td>{{user.last_check_in}}</td>
				<td>
					<svg id="daily{{user.id}}" width="50" height="50"></svg>
					<script>
						var gauge = loadLiquidFillGauge("daily{{user.id}}", "{{user.daily_progress}}");
					</script>
				</td>
				<td>
					<svg id="weekly{{user.id}}" width="50" height="50"></svg>
					<script>
						var gauge = loadLiquidFillGauge("weekly{{user.id}}", "{{user.weekly_progress}}");
					</script>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}