{% extends "admin_layout.html" %}
{% block content %}
	<table class="table table-responsive-sm pt-table-striped">
		<tr>
			<th>Username</th>
			<th>Timestamp</th>
			<th>Daily Progress</th>
			<th>Weekly Progress</th>
		</tr>
		{% for log in log_vms %}
			<tr>
				<td>{{log.username}}</td>
				<td>{{log.timestamp}}</td>
				<td>
					<svg id="daily{{log.id}}" width="50" height="50"></svg>
					<script>
						var gauge = loadLiquidFillGauge("daily{{log.id}}", "{{log.daily_progress}}");
					</script>
				</td>
				<td>
					<svg id="weekly{{log.id}}" width="50" height="50"></svg>
					<script>
						var gauge = loadLiquidFillGauge("weekly{{log.id}}", "{{log.weekly_progress}}");
					</script>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}