{% extends "user_layout.html" %}
{% block content %}
	<div class="card">
		<p>
            Now rate each activity on a scale of 1 to 5, 1 being "This activity
            helps my recovery but is not necessary" and 5 being "This activity
            is absolutely essential to my recovery."
        </p>
		<form action="" method="POST">
            {{form.hidden_tag()}}
            {{form.username()}}

            <div class="row pt-form-group">
                {{form.activities()}}
            </div>
        </form>
	</div>
{% endblock %}