{% extends "user_layout.html" %}
{% block content %}
	<div class="card">
		<p>Now enter your WEconnect info. Your information will not be stored or seen by the researchers.</p>
		<form id="wc_login_form" action="" method="POST">
			{{form.hidden_tag()}}
			<div class="form-group">
				<div>{{form.email.label}}</div>
				<div>{{form.email}}</div>
			</div>
			<div class="form-group">
				<div>{{form.password.label}}</div>
				<div>{{form.password}}</div>
			</div>
			<div class="form-group" style="display:none;">
				<div>{{form.goal_period.label}}</div>
				{% for subfield in form.goal_period %}
					<div>{{subfield}}</div>
					<div>{{subfield.label}}</div>
				{% endfor %}
			</div>
			<div class="form-group">
				<div>&nbsp;</div>
				<div>{{form.submit}}</div>
			</div>
		</form>
		<p class="warning">{{login_error}}</p>
	</div>
{% endblock %}
